header{
    display: flex;
    height: 70px;
   background: linear-gradient(to right, #f3f2ef, #fff);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    padding: 24px 16px;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    
}
nav > img{
    width: 70px;
    height: 70px;
    padding: 10px 20px;
}
nav > h1{
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
}